/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* montserrat-500 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local('Montserrat Medium'), local('Montserrat-Medium'),
         url('../fonts/montserrat-v14-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* montserrat-700 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
         url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* montserrat-800 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
         url('../fonts/montserrat-v14-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* montserrat-900 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: local('Montserrat Black'), local('Montserrat-Black'),
         url('../fonts/montserrat-v14-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  html{
      box-sizing: border-box;
  }
  *, *::before, *::after{
      box-sizing: inherit;
  }
  .table_stat{
    color: #FFFFFF;
    background: #3A80BA;
    font-family: Montserrat;
  }
   
  .header_block{
      position: relative;
      background: #3A80BA;
      min-width: max-content;
      /*width: 100%;*/
      height: 72px;
      /*position: fixed;*/
    }

  .header_logo{
      position: absolute;
      width: 136px;
      height: 49px;
      left: 130px;
      top: 10px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 40px;
      line-height: 49px;
      color: #FFFFFF;
  }

  .btn{
      position: absolute;
      width: 85px;
      height: 20px;
      left: 130px;
      top: 88px;

      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;

      color: #CCCCCC;
  }

  .block_name{
    position: absolute;
    width: 253px;
    height: 39px;
    left: 130px;
    top: 132px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    color: #1A1A1A;
  }
  .block_table{
    position: absolute;
    width: 70%;
    height: 48px;
    left: 130px;
    top: 187px;
  }

  .footer{
    
    vertical-align: bottom;
    position: fixed;
    width: 100%;
    height: 57px;
    left: 0px;
    bottom: 0px;
    /* vertical-align: bottom; */
    background: #1C3B55;
  }

  .footer_text{
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 142%;
      text-align: center;
      color: #FFFFFF;
  }

  .footer_logo{
      position: absolute;
      width: 82px;
      height: 29px;
      left: 130px;
      bottom: 14px;
      /*top: 857px;
      */
      
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 29px;
      
      color: #FFFFFF;
  }

  .footer_right{
      position: absolute;
      width: 147px;
      height: 23px;
      right: 130px;
      bottom: 14px;
      
  }

    .footer_center{
      position: absolute;
      width: 264px;
      height: 23px;
      left: 588px;
      bottom: 14px;
  }

  ul.navbar li{
      display: inline;
      margin-right: 5px;
  }
  .pageNumber {
    text-align: center;    
  }

  .pageNumber li {
    display: inline;
    margin-right: 5px;
    /* align-items: center; */

  }

  .activpage{
    background: yellow;
  }